body{
  background-color: #ECECEC;
  margin: 0;
}

nav{ 
  background-color: #EFCA6C;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo{
  height: 4em;
  margin-left: 2em;
}

nav ul{
  display: flex;
  gap: 2em;
  list-style: none;
  padding-right: 2em;
}
nav li a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}


section{
  display: flex;
  gap: 3em;
}

.category-btn{
  margin-top: 1em;
  margin-left: 1em;
  border: none;
  background-color: #fff;
  border-radius: 1em;
  padding: 2em;
}
.category-btn:active{
  background-color: #FFB200;
}
.dishes{
  height: 7em;
}

.bilao{
  height: 5.5em;
  margin-top: 9px;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.desserts{
  height: 5.5em;
  margin-top: 9px;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
