    body {
      background-color: #f2e7c9;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }
    /* Sidebar */
    .sidebar {
      background-color: #f4c95d;
      min-height:95vh;
      padding: 20px 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
      border-radius: 10px;
      margin-left: 10px;
      margin-top: 15px;
    }
    .sidebar img.logo {
      width: 60px;
      margin-bottom: 30px;
    }
    .sidebar .nav-link {
      background: #fff;
      border-radius: 12px;
      width: 50px;
      height: 50px;
      margin: 12px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
    }

    .sidebar .nav-link.active {
      background-color: #F7DE5E;
    }
    .sidebar .logout {
      margin-top: auto;
      background: #f4c95d;
      border: none;
    }

    /* Content */
    .content {
      margin-left: 100px;
      padding: 20px;

    }
    .dashboard-header {
      background: #e5bb47;
      border-radius: 8px;
      padding: 20px;
      margin-left: 100px;
      margin-top: 15px;
      margin-bottom: 0;
      margin-right: 17px;
      font-weight: bold;
      font-size: 1.5rem;
      position: sticky;
    }

    #datetime {
      font-size: 1rem;
      color: #333;
    }

    .content .d-flex label {
  margin-bottom: 0;
  font-size: 0.9rem;
}


.table-container {
  max-height: calc(100vh - 220px); /* adjust based on your header height */
  overflow-y: auto;
  margin-top: 10px;
}

.reports-table thead th {
  position: sticky;
  top: 0;
  background: #cfe2ff; /* Bootstrap table-primary background */
  z-index: 10;
}

.reports-table {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.reports-table th {
  font-weight: 600;
  background-color: #d9d9d9 !important;
  color: #262222;
  position: sticky;
  top: 0;
  z-index: 2;
}
.reports-table td {
  vertical-align: middle;
}